---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Belief</h1>

    <ul>
      <li>
        We believe the Bible to be the inspired, the only infallible,
        authoritative inerrant word of God
      </li>
      <li>
        We believe that there is one God, eternally existent in three persons:
        Father, Son and Holy Spirit
      </li>
      <li>
        We believe in the deity of our Lord and Savior Jesus Christ, in His
        virgin birth, His sinless life, in His miracle, in His vicarious and
        atoning death through His shed blood, His death on the Cross, in His
        Bodily resurrection, in His bodily ascension to the right hand of the
        Father, and in personal bodily return in power and glory
      </li>
      <li>
        We believe that for the salvation of the lost and sinful man,
        regeneration by the Holy Spirit is absolutely essential.
      </li>
      <li>
        We believe in the present ministry of the Holy Spirit, by whose
        indwelling the Christian is enabled to live a holy life and to be
        effective instruments in the service of Jesus Christ.
      </li>
      <li>
        We believe in the Baptism of the Holy Spirit and in the initial evidence
        of speaking in tongues
      </li>
      <li>
        We believe in the resurrection of both the saved and the lost: they are
        saved unto the resurrection of life and they that are lost unto the
        resurrection of damnation
      </li>
      <li>
        We believe in the spiritual unity of all believers in the Lord Jesus
        Christ
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 1em;
  }

  h1 {
    text-align: center;
  }
</style>
