---
import ScriptureCarousel from "../components/ScriptureCarousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Welcome to The Hearts Ablaze Christian Ministries International</h1>
    <ScriptureCarousel />
    <img
      src="2024_summer_renewal_conference.jpg"
      alt="2024 Summer Renewal Conference"
    />
  </main>
</Layout>

<style>
  main {
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 2em auto;
  }
</style>
