---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>About Us</h1>

    <h3>Mission</h3>
    <p>
      To set ablaze the heart of believers and ministers from all nations by the
      empowerment of the holy spirit through Jesus Christ in fellowship,
      worship, prayer and ministration of the word of God.
    </p>
    <h3>Purpose</h3>
    <p>The purpose for which this corporation is organized are:</p>
    <ol>
      <li>
        To plan and carry out conventions, seminars, workshops, conferences on
        different aspects of Christian experiences
      </li>
      <li>To address different issues facing the Christian family</li>
      <li>
        To provide a wholesome environment where Christians can engage in
        worship and study of God's word that will help them in their Christian
        walk
      </li>
      <li>
        To encourage, engage and extend the teachings of Jesus Christ as it
        ministers to the whole person
      </li>
      <li>
        To encourage and equip Christian to become effective believer and worker
        in the local church, their Christian walk and ministry
      </li>
      <li>
        To encourage and teach total dependence on the ministry of the Holy
        Spirit in every aspect of Christian experience
      </li>
      <li>
        To engage in other Christian, educational, charitable and literary
        activities which in the judgment of the Board of Directors is consistent
        with objectives of the Hears Ablaze Ministries International
      </li>
    </ol>
  </main>
</Layout>

<style>
  main {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 1em;
  }

  h1 {
    text-align: center;
  }

  h3 {
    font-weight: 700;
  }
</style>
