---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Contact Us</h1>

    <h2>Address</h2>

    <p>Hearts Ablaze Christian Ministries International<br />P.O Box 495<br />Bettendorf, Iowa 52722</p>
    
    <h2>Phone</h2>
    
    <p>563-514-6475</p>
    
    <h2>Email</h2>
    
    <p><a href="mailto:info@hacmint.org">info@hacmint.org</a></p>
    
    

  </main>
</Layout>

<style>
  main {
    max-width: 420px;
    margin: 0 auto;
    padding: 0 1em;
  }

  h1 {
    text-align: center;
  }

  h3 {
    font-weight: 700;
  }
</style>
