<footer>
  <div>
    <a href="/"
      ><img
        src="/Hearts-Ablaze-Logo-2.png"
        alt="Hearts Ablaze Logo"
        width="100"
        height="100"
      /></a
    >
    <h3><a href="/">Hearts Ablaze Christian<br />Ministries</a></h3>
  </div>
  <div>
    <ul>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="/statement-of-faith">Belief</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/media">Media</a></li>
    </ul>
  </div>

  <div>
    <ul>
      <li><a href="/board">Board</a></li>
      <li><a href="/host">Host</a></li>
      <li><a href="/prayer-line">Prayer Line</a></li>
    </ul>
  </div>

  <div>
    <ul>
      <li>
        <a
          target="_blank"
          href="https://www.facebook.com/people/Hearts-Ablaze-Christian-Ministries-International/100068066041792/"
          >Follow us on Facebook</a
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 2em auto;
    flex-wrap: wrap;
    gap: 1em;
  }

  footer > div {
    width: 100%;
  }
  @media screen and (min-width: 870px) {
    footer > div {
      width: auto;
    }
  }

  h3 a,
  h3 a.active {
    text-decoration: none;
  }

  footer a,
  footer a.active {
    color: black;
  }

  footer > div:first-child {
    padding-left: 1em;
  }

  footer > div:last-child {
    padding-right: 1em;
  }
</style>
