---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="logo">
      <a href="/"
        ><img
          src="/Hearts-Ablaze-Logo-2.png"
          alt="Hearts Ablaze Logo"
          width="100"
          height="100"
        /></a
      >
      <h2><a href="/">Hearts Ablaze Christian Ministries</a></h2>
    </div>
    <div class="internal-links">
      <HeaderLink href="/about-us">About Us</HeaderLink>
      <HeaderLink href="/statement-of-faith">Belief</HeaderLink>
      <HeaderLink href="/events">Events</HeaderLink>
      <HeaderLink href="/calendar">Calendar</HeaderLink>
      <HeaderLink href="/media">Media</HeaderLink>
      <HeaderLink href="/contact-us">Contact Us</HeaderLink>
    </div>
  </nav>
</header>
<style>
  img {
    margin: 1em 0;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
  }
  nav .logo {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    nav .logo {
      width: auto;
    }
  }
  nav .internal-links {
    width: 100%;
    text-align: center;
  }
  @media screen and (min-width: 1024px) {
    nav .internal-links {
      width: auto;
    }
  }
  nav a,
  nav a.visited {
    color: var(--black);
    padding: 1em 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a:hover {
    border-bottom-color: var(--accent);
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  h2 {
    display: inline-block;
    font-size: 1em;
    margin: 1em 0 0 0;
    text-align: center;
  }
  @media screen and (min-width: 1024px) {
    h2 {
      margin: 0;
      width: auto;
    }
  }
</style>
