---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Events</h1>

    <h2>Weekly Fellowship on Saturdays at 6:00 p.m. central time</h2>

    <h3 class="bold">We meet on Zoom.</h3>

    <h3>
      <span class="bold">Contact us if you would like to join:</span> 563-514-6475 or <a href="mailto:info@hacmint.org">info@hacmint.org</a>
    </h3>
  </main>
</Layout>

<style>
  main {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 1em;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
  }

  .bold {
    font-weight: 700;
  }
</style>
